.dark {
  color: #000000;
  cursor: pointer;

  h2 {
    color: #000000;
    cursor: default;
  }

  &:hover {
    color: #cca88a;
  }
}

.active {
  color: #cca88a;
  font-weight: 800;
  transition: all 0.1s ease-in-out;
}
