.container {
  max-width: 1140px;
  margin: 0 auto;
}

.pagination {
  text-align: left;
}

.totalPrice {
  text-align: end;

  b {
    padding-left: 10px;
  }
}

.title {
    font-size: 20px;
    line-height: 23px;
    font-weight: 300;
}
