.container {
    max-width: 1140px;
    margin: 0 auto;
}

.pagination {
    text-align: left;
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 15px;
    margin-top: 10px;
}

.title {
    text-align: left;
    font-size: 24px;
    line-height: 28px;
    font-weight: 300;
}

.descr {
    text-align: left;
}

.exchangeList {
    display: flex;
    justify-content: space-between;
    margin-bottom: 230px;
    margin-top: 25px;
}

.exchangeItem {
    width: 165px;
    text-align: center;
}