.Main {
    text-align: center;


}

.container {
    position: relative;
    max-width: 1140px;
    margin: 0 auto;
    z-index: 2;
    padding-top: 330px;
    padding-bottom: 462px;
}
._ibg {

    img {
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        object-fit: cover;
        z-index: 0;
    }
}

.Main_title {
    font-family: "Raleway";
    font-weight: 300;
    color: #fff;
    margin: 0;
    font-size: 46px;
    line-height: 54px;
}

.Main_link {
    color: #fff;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    margin: 0;
    padding-top: 20px;
}

