.App {
  text-align: center;
  position: relative;
}

h2 {
  text-align: left;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  text-align: left;
  padding: 5px 0;
  font-weight: 200;
  font-size: 16px;
  line-height: 19px;
}
